# Node modules
node_modules/

# Ambientes e variáveis sensíveis
.env
.env.local

# Logs
logs
*.log

# Diretório temporário
tmp/

# Imagens de upload (covers)
public/images/covers/

# Pastas geradas automaticamente
/dist/
/build/
/src/generated/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# IDEs
.vscode/
.idea/
.DS_Store
